# logs files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project settings
.idea/

# VScode settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__*__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# LaTex Compilation
*.fdb_latexmk
*.fls
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*Notes.bib
*.pdf
*.tex